<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=|Rijksregisternummer van ${werknemer.voornaam} ${werknemer.familienaam}|)"></head>
<body>

	<h1 th:text="|Rijksregisternummer van ${werknemer.voornaam} ${werknemer.familienaam}|"></h1>

	<form th:action="@{/werknemers/{id}/rijksregisternummer(id=${werknemer.id})}" method="post" th:object="${werknemer}">
	
		<label>
			Rijksregisternummer:
			<input th:field="*{rijksregisternr}" type="number" required autofocus>
		</label>
		
		<input type="submit" value="Opslaan">
		
		<div th:if="${#fields.hasGlobalErrors()}">
			<div class="fout" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
		</div>
		
	</form>
	
</body>
</html>