body {
	background-color: #e2f5fe;
	color: #0661aa;
	font-family: sans-serif;
}

h1 {
	clear: both;
}

dd, dt {
	margin-left: 0;
}

dt {
	margin-top: 0.5em;
}

dd {
	font-weight: bold;
	margin-bottom: 0.5 em;
}

ul.navigatie {
	list-style: none;
	padding: 0;
}

ul.navigatie li {
	display: inline;
}